<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.igniubi.article.mapper.IQuestionMapper">
    <resultMap id="BaseMap" type="com.igniubi.article.model.Question">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="q_title" column="qTitle" jdbcType="VARCHAR"/>
        <result property="q_describe" column="qDescribe" jdbcType="VARCHAR"/>
        <result property="answers" column="answers" jdbcType="VARCHAR"/>
        <result property="img_url" column="imgUrl" jdbcType="VARCHAR"/>
        <result property="answerer" column="answerer" jdbcType="VARCHAR"/>
        <result property="forward" column="forward" jdbcType="VARCHAR"/>
        <result property="date_id" column="dateId" jdbcType="VARCHAR"/>
        <result property="create_time" column="createTime" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List" >
    id, q_title, q_describe, answers, date_id, create_time,img_url,answerer,forward
  </sql>

    <select id="get" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM question
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectQuestionByDate" resultMap="BaseMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM question
        where date_id = #{dateId,jdbcType=VARCHAR}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.igniubi.article.model.Question">
        insert into question(q_title, q_describe, answers, date_id,create_time,img_url,answerer,forward)
          values (#{qTitle,jdbcType=VARCHAR}, #{qDescribe,jdbcType=VARCHAR}, #{answers,jdbcType=VARCHAR},#{dateId,jdbcType=VARCHAR}
          , #{createTime,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, #{answerer,jdbcType=VARCHAR}, #{forward,jdbcType=VARCHAR})
    </insert>

    <insert id="insertQuestionSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.igniubi.article.model.Question">
        insert into question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qTitle != null">
                q_title,
            </if>
            <if test="qDescribe != null">
                q_describe,
            </if>
            <if test="answers != null">
                answers,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="answerer != null">
                answerer,
            </if>
            <if test="forward != null">
                forward,
            </if>
            <if test="dateId != null">
                date_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="qTitle != null">
                #{qTitle,jdbcType=VARCHAR},
            </if>
            <if test="qDescribe != null">
                #{qDescribe,jdbcType=VARCHAR},
            </if>
            <if test="answers != null">
                #{answers,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="answerer != null">
                #{answerer,jdbcType=VARCHAR},
            </if>
            <if test="forward != null">
                #{forward,jdbcType=VARCHAR},
            </if>
            <if test="dateId != null">
                #{dateId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


</mapper>